@model SaleManager.Models.KhachHang

@{
    ViewBag.Title = "DangKy";
}

<table align="center">
    <h2 style="text-align:center">ĐĂNG KÝ THÀNH VIÊN</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td>Họ tên khách hàng:</td>
        </tr>
    }
</table>