@model IEnumerable<SaleManager.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a>Add Category</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.ID</td>
                <td>@p.Name</td>
                <td>@p.Categories</td>
            </tr>
        }
    </tbody>
</table>
